* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image:url("imagenes/fondo.gif");
  background-repeat: no-repeat;
  background-size:cover;
  
  background-color: #1f1747;
  color: #dfdfdf;
}

/* HEADER */
.header {
  background-color: #1f1747;
  color: white;
  padding: 40px;
  text-align: center;
}

/* SECCIONES */
.section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  margin-bottom: 20px;
  color: #dadada;
}
/*IMAGEN DE PERFIL*/
.about-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000000;
}

.bg {
  background-color: #ffffff0e;
}

/* CARDS */
.card {
  background: #2c2c2c0e;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* SKILLS */
/* SCROLL HORIZONTAL */
.skills-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
}

/* TARJETA */
.skill-card {
  min-width: 180px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* TEXTO SOBRE IMAGEN */
.skill-card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background-color: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
}
/*EDUCACION*/
/* CONTENEDOR */
.education-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* TARJETA */
.edu-card {
  text-align: center;
}

/* CONTENEDOR DE IMÁGENES */
.edu-image {
  position: relative;
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

/* IMÁGENES */
.edu-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease;
}

/* ESTADOS */
.img-front {
  opacity: 1;
}

.img-back {
  opacity: 0;
}

/* HOVER */
.edu-image:hover .img-front {
  opacity: 0;
}

.edu-image:hover .img-back {
  opacity: 1;
}
/*EXPERIENCIA*/
/* CONTENEDOR SCROLL */
.experience-scroll {
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}
.exp-card {
  background: #1f2933;
  color: white;
  padding: 20px;
  border-radius: 12px;
  transition: 
    transform 0.5s ease,
    background-color 0.5s ease;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* TEXTO */
.exp-card h3 {
  margin-bottom: 8px;
}

.exp-card span {
  font-size: 0.9rem;
  opacity: 0.8;
}
.exp-card:hover {
  background-color: #3b82f6; /* azul */
  transform: rotateY(15deg) rotateX(5deg);
}
.exp-card {
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.exp-card:hover {
  box-shadow: 0 12px 30px rgba(59,130,246,0.6);
}

/* PROYECTOS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
/* CONTENEDOR GENERAL */
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* BOTONES */
.proj-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.proj-btn:hover {
  background-color: #2563a8;
}

/* SLIDER */
.project-slider {
  width: 500px; /* muestra solo 1 proyecto */
  height: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  background: #171e25;
  color: white;
}

/* TARJETAS */
.project-card {
  cursor: pointer;
  min-width: 100%;
  height: 100%;
  background: #1f2933;
  color: white;
  border: 2px solid #3498db;
  border-radius: 12px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* TARJETA ACTIVA */
.project-card.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
.project-card:hover {
  transform: translateX(0) scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.section-contact{
    /*padding: 40px 20px;*/
  max-width: 900px;
  margin: auto;
  /*background-color: #ffffff0e;*/
  background-color: #1f1747de;
background-image: url("imagenes/logosSkills/aguaoscura.gif");
background-size: cover;
background-repeat: no-repeat;
}
.section-contact .cristal-effect{
  padding: 40px 20px;
   background-color: #1f1747de;
}
.section-contact p{
 
}
.enlace-contact{
  color: white;
  text-decoration: none;
}
.enlace-contact:hover{

  color:rgb(7, 255, 234);
}
.lang-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.lang-buttons button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #3b82f6;
  color: #ffffff;
  font-weight: bold;
}
.lang-buttons .btn_es{
  background-image: url("imagenes/logosSkills/mexicoFrag.jpg");

  background-size: contain;
}
.lang-buttons .btn_en{
 background-image: url("imagenes/logosSkills/usaFrag.png");
 background-size: cover;
}
.lang-buttons button:hover {
  background: #2563eb;
  color: #ffffff;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .header {
    padding: 25px;
  }
}


